<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/consultar-styles.css">
</head>
<body>
<%- include("partials/nav.ejs") %>

<main>
    <div class="encabezado-busqueda">
        <input type="hidden" id="productoId" value="<%= id %>">
        
        <form id="getProduct-form">
            <label for="idProd">Buscar por ID del producto</label>
            <input placeholder="1" type="number" name="idProd" id="idProd" required>
            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
        </form>
        
    </div>

    <section id="contenedor-productos">
        <ul id="lista-productos"></ul>
    </section>
</main>

<script src="/js/consultar.js"></script>

<%- include("partials/footer.ejs") %>