<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="/css/crear-styles.css">
<%- include("partials/nav.ejs") %>
</head>
<main id="alta-container">
    
    <div id="products-container" class="form-container">
        <h3>Alta productos</h3>

        <!-- Formulario para crear productos y enviarlos a /api/products -->
        <form id="altaProducts-container" class="form-alta">
    
            <label for="nombreProd">Nombre</label>
            <input type="text" name="nombre" id="nombreProd" required>
    
            <label for="imagenProd">Imagen</label>
            <input type="text" name="image" id="imagenProd" required>
    
            <label for="precioProd">Precio</label>
            <input type="number" name="precio" id="precioProd" min="0" required>
    
            <label for="categoryProd">Categoria</label>
            <select name="category" id="categoryProd" required>
                <option value="video-juego">Video juego</option>
                <option value="consola">Consola</option>
            </select>

            <label for="descripcionProd">Descripcion</label>
            <textarea name="" id="descripcionProd" cols="30" rows="10"></textarea>

            <label for="empresaProd">Empresa responsable</label>
            <input type="text" name="empresa" id="empresaProd" required>
    
            <input class="submit" type="submit" value="Crear producto">
        </form>
    </div>

    <div id="users-container" class="form-container">
        <h3>Alta usuarios</h3>

        <!-- Formulario para crear usuarios y enviarlos a /api/users -->
        <form id="altaUsers-container" class="form-alta">
            <label for="emailUser">Email</label>
            <input type="email" name="email" id="emailUser" required>
    
            <label for="passwordUser">Password</label>
            <input type="password" name="password" id="passwordUser" required>
    
            <input class="submit" type="submit" value="Crear usuario">
        </form>
    </div>

</main>

<script src="js/crear.js"></script>

<%- include("partials/footer.ejs") %>
