<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/eliminar-styles.css">
</head>
<body>
<%- include("partials/nav.ejs") %>

<main>
    <form id="getProduct-form">
        <div class="encabezado-busqueda">
            <label for="idProd">Ingrese el ID del producto</label>
            <input type="number" name="idProd" id="idProd" required>
            
            <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
        </div>
    </form>


    <section id="contenedor-productos">
        <ul id="lista-productos"></ul>
    </section>
</main>

<script src="js/eliminar.js"></script>

<%- include("partials/footer.ejs") %>
