<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<body>
<main id="login-container">
    <h1>Login dashboard</h1>
    
    <!-- Mostramos el mensaje de error del endpoint -->
    <% if (typeof error !== "undefined") { %>
        <div class="error-message">
            <%= error %>
        </div>
    <% } %>
    
    
  <section class="user-login-form">

      <form action="/login" method="POST" autocomplete="off" id="login-form">
          <label for="emailUser">Correo electrónico:</label>
          <input placeholder="usuario@gmail.com" type="email" name="email" id="emailUser" required>

          <label for="passwordUser">Contraseña:</label>
          <input placeholder="******" type="password" name="password" id="passwordUser" required>

          <button type="submit" class="btn-send-form-generic-style">Ingresar</button>
          <button type="button" id="acceso-rapido" class="btn-send-form-generic-style">Acceso rápido</button>
      </form>

  </section>

</main>



<script>
    // Funcionalidad boton acceso rapido
    let emailUser = document.getElementById("emailUser");
    let passwordUser = document.getElementById("passwordUser");

    let acceso_rapido = document.getElementById("acceso-rapido");

    acceso_rapido.addEventListener("click", () => {
        emailUser.value = "admin@gmail.com";
        passwordUser.value = "123456"
    });
</script>

<%- include("partials/footer.ejs") %>