main{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}

main form{
    margin: 10px;
    border: solid 2px white;
    padding: 10px;
}

.encabezado-busqueda{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.li-botonera{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-botonera input{
    background-color: #ef4565;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid  #094067;
    padding: 10px 15px;
    color: #212322;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.25s ease, color 0.25s ease;

}

.li-producto{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.li-producto img{
    width: 100px;
    height: 100px;
    align-self: center;
}

.li-producto span{
    color: #005ba1;
}