:root {
  /* Colores botones */
  --color-rojo-1: #ef4565;
  --color-rojo-2: #d93e5b;
  --color-rojo-3: #c9041d;
  --background: #dfe4eb;
}

/*================
    General
================*/
header {
    margin-top: 30px;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

body{
    background-color: #97a9c0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*================
    Encabezado
================*/
nav ul {
    display: flex;
    justify-content: space-between;
}

.nav_link{
    color: #a94442;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    background-color: var(--background);
    padding: 7px;
    border: solid 2px #0c141f;
}

.nav_link:hover{
    background-color: #4671ac;
}


/*================
    main
================*/
body{
    margin: 15px;
}
