main  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}

/* Contenedores de ambos formularios */
.form-container {
    background-color: var(--background);
    padding: 15px;
    border-radius: 12px;
    width: 340px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Títulos */
.form-container h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.4rem;
}


/* Forms */

.form-modificar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-modificar label {
    margin-top: 5px;
}

.form-modificar input,
.form-modificar select,
.form-modificar textarea {
    padding: 10px;
    border: 2px solid;
}
.submit{
    font-size: 1rem;
    font-weight: 600;
}
.submit:hover{
    cursor: pointer;
    background-color: var(--background);
}
.btn{
    font-size: 1rem;
    font-weight: 600;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--background);
}


.getProduct-form{
    display: flex;
    flex-direction: column;
}





/* form consulta */
.encabezado-busqueda p{
    margin: 3px;
    margin-top: 10px;
}

.getProduct-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.getProduct-form input{
    padding: 5px;
}

.encabezado-busqueda{
    margin: 10px;
    border: solid 2px white;
    padding: 10px;
}

.li-producto{
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: solid 2px;
    padding: 10px;
}

.li-producto img{
    width: 40vh;
    height: auto;
}

.descripcion-lateral{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 5px;
}

.descripcion-lateral span{
    color: #005ba1;
}

.descripcion-inferior{
    display: inline-block;
    max-width: 60vw;
    margin: 10px;
}
.descripcion-inferior span{
    color: #005ba1;
}








/* responsivo */

@media (max-width: 760px) {
    #alta-container {
        flex-direction: column;
        align-items: center;
    }
}