<header>
    <nav>
        <ul>
            <a href="/index" class="nav_link">
                <li>Inicio</li>
            </a>
            <a href="/consultar" class="nav_link">
                <li>Consultar id</li>
            </a>
            <a href="/crear" class="nav_link">
                <li>Crear</li>
            </a>
            <a href="/modificar" class="nav_link">
                <li>Modificar</li>
            </a>
            <a href="/eliminar" class="nav_link">
                <li>Eliminar</li>
            </a>
            
            <form action="/logout" id="logout" method="post">
                <input class="nav_link" type="submit" value="Cerrar sesion">
            </form> 

        </ul>
    </nav>
</header>